---
import RootLayout from "../layouts/RootLayout.astro";
import AuthWrapper from "../components/AuthWrapper";

const publishableKey = import.meta.env.PUBLIC_CLERK_PUBLISHABLE_KEY;
if (!publishableKey) {
  throw new Error('Missing Publishable Key');
}
---

<RootLayout title="French Learning App">
  <main>
    <AuthWrapper client:only="react" publishableKey={publishableKey} />
  </main>
</RootLayout>

<style>
  main {
    width: 100%;
    height: 100%;
  }
</style>